
body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
	margin-left: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

.thick
{
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f4f4ff;
}

.bg-steel {
    background-color: #5f788a;
}
.navbar-brand {
		color: #ccd6dc;
}
.navbar-nav .nav-link, .navbar-toggle, .icon-bar{
	color: #cbd5db;
}
.navbar-nav .nav-link:hover, .navbar-toggle:hover, .dropdown-menu{
	color: #c9b3d9;
	background-color: #5f788a;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.ticker-bar {
	position: fixed;
	z-index: 1;
	right: 0;
	color: #dbe5eb;
	background-color: #5f788a;
	box-shadow: 0 0 3px gray;
}
	
.ticker {
	background-color: #2f485a;
  	font-size: 80%;
	padding-right: 5 !important; 
	padding-left: 20 !important; 
	font-weight: bold;
}

.active_instruction
{
    font-weight: bold;
    background-color: lightblue;
}

