
body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
	margin-left: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}
.navbar-brand {
		color: #ccd6dc;
}
.navbar-nav .nav-link {
	color: #cbd5db;
}
.navbar-nav .nav-link:hover {
	color: #c9b3d9;
	background-color: #5f788a;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.bot-sim {
	color: #000033;
}
.bot-prod {
	color: #330000;
}

.thick
{
    font-weight: bold;
}

.active_instruction
{
    font-weight: bold;
    background-color: lightblue;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f4f4ff;
}
