
body {
	background: #fafafa;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

.thick
{
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f4f4ff;
}

.table-condensed{
  font-size: 12px;
}

.bg-steel {
    background-color: #5f788a;
}
.navbar-brand {
		color: #ccd6dc;
		padding-left: 10px;
}
.navbar-nav .nav-link, .navbar-toggle, .icon-bar{
	color: #cbd5db;
}
.navbar-nav .nav-link:hover, .navbar-toggle:hover, .dropdown-menu{
	color: #c9b3d9;
	background-color: #5f788a;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}


#ticker-panel {
	position: fixed;
	z-index: 1;
	right: 0;
	color: #dbe5eb;
	margin: 0px;
	padding: 0px;
}

#ticker-details {
	background-color: #5f788a;
	box-shadow: 1px 1px 5px #5f788a;
}

.ticker-panel-mini {
	max-width: 226px;
}

.ticker-panel-open {
	width: 500px;
}

.ticker {
	background-color: #2f485a;
	padding: 2px 5px 2px 5px; 
	box-shadow: 1px 1px 5px #5f788a;
}

.ticker-elem {
	margin: 0px;
	padding: 0px 0px 0px 12px;
  	font-size: 12px;
}

.bot-elements {
	border-radius: 10px;
	box-shadow: 1px 1px 5px #5f788a;
	padding: 10px;
	margin: 3px;
	max-width: 600px !important;
}

.bot-elements > h2 {
	border-bottom: 1px solid #5f788a;
	margin: 3px 20px 20px 20px;
}
.active_instruction
{
	border-radius: 10px;
    background-color: lightblue;
	box-shadow: 1px 1px 5px lightblue;
	margin: 2px;
  	font-weight: 500;
}

.instruction
{
	border-radius: 10px;
	box-shadow: 1px 1px 5px lightblue;
	margin: 3px;
}

