{% block body %}
<h2>{{ title }}</h2>

{% for instruction in instructions %}
<div class="row {{ 'active_instruction' if instruction['wait_filled'] else '' }}">
	<div class="col-md-2">{{ instruction['start_date'][:-7] if instruction['start_date'] else "-" }}</div>
	{% if title == "History" %}
		<div class="col-md-2">{{ instruction['execution_date'][:-7] if instruction['execution_date'] else "-" }}</div>
	{% endif %}
	<div class="col-md-2">{{ instruction['side'] }} {{ instruction['size'] }} {{ instruction['pair'][:3] }}</div>
	<div class="col-md-2">rate: {{ instruction['price'] }} {{ instruction['pair'][-3:] + "/" + instruction['pair'][:3]  }}</div>
	{% if instruction['wait_filled'] %}
		<div class="col-md-2">Wait {{ instruction['wait_filled'] }}</div>
	{% endif %}
</div>	
{% endfor %}

{% endblock %}
