<div class="card-group ticker-panel-mini" id="ticker-panel">
	<div class="card d-none" id="ticker-details">
		<div class="text-right" onclick="close_ticker_details()">[close]</div>	
		<div id="ticker-detail-pair">pair</div>	
 		<table class="table table-hover table-sm table-condensed">
    		<thead>
					<tr><th>Title</th><th>Low</th><th>High</th><th>Vol.</th><th>Chg</th><th></th></tr>
			</thead>
    		<tbody id="ticker-detail-tbody">
 			</tbody>
  		</table>
	</div>
	<div class="card border-0">
		<div class="card-body" style="padding: 20px 10px 10px 10px;">
			<table class='table table-sm ticker table-condensed rounded'>
			{% for ticker in panel_tickers %}
					<tr id='panel-ticker-{{ ticker.pair }}' onclick="open_ticker_details('{{ ticker.pair }}')">
							<td class="panel-ticker-pair ticker-elem">{{ ticker.pair }}</td>
							<td class="panel-ticker-price ticker-elem">{{ticker.price}}</td>
							<td class="panel-ticker-oc ticker-elem">__ %</td>
							<td class="panel-ticker-lc ticker-elem"></td>
					</tr>
			{% endfor %}
				</table>
		</div>
	</div>
	</div>
