{% extends "layout.html" %}
{% block content %}
{% if bot %}
<div class="container">
	<h1> Bot detail </h1>
	<div class="card bot-elements ">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-8">
					<h2> {{ bot['name'] }}</h2>
				</div><div class="col-sm-4">
						<h3 class="float-right">
								<i class="{{ icons['loop'] if bot['instruction_book']['loop'] else icons['oneshot'] }}"></i>
								<i class="{{ bot['cambista']['icon'] }}"></i>
						</h3>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-3 thick">Status:</div>
				<div class="col-sm-6">{{ bot['status'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">Started at:</div>
				<div class="col-sm-9">{{ bot['start_date'][:-7] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">Type:</div><div class="col-sm-9">{{ bot['type'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">Cambista:</div><div class="col-sm-9">{{ bot['cambista']['name'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">PID:</div><div class="col-sm-9">{{ bot['pid'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">UIDZZ:</div><div class="col-sm-9">{{ bot['uid'] }}</div>
			</div>
			{% if bot['tprofit'] %}
			<div class="row">
				<div class="col-sm-3 thick">Theorical profit</div>
				<div class="col-sm-9">{{ bot['tprofit'] }} - {{ bot['tpprofit'] // 3 }} %</div>
			</div>
			{% endif %}
			{% if bot['instruction_book']['count'] > 1 %}
				{% set cnt, totbuy = [0], [0.0] %}
				{% set totsell = [0.0] %}
					<div class="row">
						<div class="col-sm-3 thick">Current gain:</div>
						<div class="col-sm-9">
				{% for i in bot['instruction_book']['history'] if (i['type'] == 'order') %} 
					  {% set _ = cnt.append(cnt.pop() + 1) %}
					  {% if not (loop.last and cnt[0] % 2 == 1 ) %}
						  {% if i['side'] == 'buy' %}
							{% set _ = totbuy.append(totbuy.pop() + i['price'] * i['size']) %}
						  {% else %}
							{% set _ = totsell.append(totsell.pop() + i['price'] * i['size']) %}
						  {% endif %}
					  {% endif %}
				{% endfor %}
				{{ totsell[0] - totbuy[0] }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	{% with instructions = bot['instruction_book']['instructions'] , title = "Instructions" %}
	{% include 'bots/includes/bot_instructions.html' %}
	{% endwith %}
	{% with instructions = [bot['instruction_book']['current_instruction']] , title = "Current instruction", isactive = True %}
	{% include 'bots/includes/bot_instructions.html' %}
	{% endwith %}
	{% with instructions = bot['instruction_book']['history']|reverse, title = "History" %}
	{% include 'bots/includes/bot_instructions.html' %}
	{% endwith %}
</div>
{% endif %}
{% endblock content %}
