{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<a href="{{ url_for('bots_stopall') }}" class="btn btn-danger confirmation" role="button">Stop all bots</a>
			<a href="{{ url_for('new_simplebot') }}" class="btn btn-success" role="buton" >New Simple Bot</a>
			<a href="{{ url_for('new_stop_loss') }}" class="btn btn-success" role="buton" >New Stop Loss Bot</a>
		</div><div class="col-md-4"></div>
	</div>
    {% if newbots %}
		<div class="row">
			<div class="col-sm-10">
	    		<h1>New bots</h1>
				<table class="table table-striped container">
				{% for bot in newbots %}
					<tr><th scope="row">{{ bot['name'] }}</th><td>{{ bot['type'] }}</td></tr>
				{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}
    {% if bots %}
		<div class="row">
			<div class="col-sm-12">
	    		<h1> Running Bots</h1>
				<table class="table table-striped container bots_table">
						<tr><th>Name</th><th>envt</th><th>Start date</th><th>Type</th><th>Loop?</th><th>Instr.<br />count</th><th>Current instruction</th><th colspan="2">Actions</th></tr>
				{% for bot in bots %}
					<tr>
						<th><a href="/bot/{{ bot['uid'] }}">{{ bot['name'] }}</a></th>

						<td>
							<span class="{{ bot['cambista']['icon'] }}" data-toggle="tooltip" title="{{ bot['cambista']['name'] }}"></span>
						</td>
						<td data-toggle="tooltip" title="{{ bot['start_date'][:19] }}">{{ bot['start_date'][:10] }}</td>
						<td>{{ bot['type'] }}</td>
						<td>
							<span class="{{ icons['loop'] if bot['instruction_book']['loop'] else icons['oneshot'] }}" data-toggle="tooltip" title="{{ 'Loop' if bot['instructions_loop'] else 'One shot' }}"></span>
						</td>
						<td>{{ bot['instruction_book']['count'] }}</td>
						{% with ci = bot['instruction_book']['current_instruction'] %}
						<td>{{ "{} {} {} @ {}{}/{}".format(ci['side'], ci['size'], ci['pair'][:3], ci['price'], ci['pair'][4:], ci['pair'][:3]) }} </td>
						{% endwith %}
							<td><a href="{{ url_for("bot_stop", uid=bot['uid']) }}" role="button" class="btn btn-danger btn-sm confirmation">
								<span class="{{ icons['stop'] }}"></span> Stop
        						</a>
							</td>
							<td><a href="{{ url_for("bot_pause", uid=bot['uid']) }}" role="button" class="btn btn-warning btn-sm confirmation">
								<span class="{{ icons['pause'] }}"></span> Pause
        						</a>
							</td>
							<td>
								<a href="{{ url_for("bot_dup", uid=bot['uid']) }}" role="button" class="btn btn-info btn-sm">
										<span class="{{ icons['dup'] }}"></span> Duplicate
        						</a>
							</td>
					</tr>
				{% endfor %}
					<tr class="d-none" id="tpl_bot_row">
							<th>
									<span title=""></span>
									<a href="#"></a>
							</th>
						<td class="tpl-bot-type"></td>
						<td class="tpl-bot-loop">
							<span data-toggle="tooltip" title=""></span>
						</td>
						<td class="tpl-bot-inst-count"></td>
						<td class="tpl-bot-inst-detail"></td>
						<td class="tpl-bot-stop"><a href="" role="button" class="btn btn-danger btn-sm confirmation">
										<span class="{{ icons['stop'] }}"></span>Stop
        					</a>
						</td>
					</tr>
					<tr class="d-none"><td>Only for keeping stripes order</td></tr>
				</table>
			</div>
		</div>
	{% endif %}
    {% if histbots %}
		<div class="row">
			<div class="col-sm-10">
	    		<h1>Stopped bots</h1>
				<table class="table table-striped container">
						<tr><th>Name</th><th>Envt</th><th>Start date</th><th>Type</th><th>Status</th><th>Instr. count</th><th colspan="2">Actions</th></tr>
				{% for bot in histbots %}
					<tr>
						<th><a href="/bot/{{ bot['uid'] }}">{{ bot['name'] }}</a></th>
						<td>
							<span class="{{ bot['cambista']['icon'] }}" data-toggle="tooltip" title="{{ bot['cambista']['name'] }}"></span>
						</td>
						<td data-toggle="tooltip" title="{{ bot['start_date'][:19] }}">{{ bot['start_date'][:10] }}</td>
						<td>{{ bot['type'] }}</td>
						<td>{{ bot['status'] }}</td>
						<td>{{ bot['instruction_book']['count'] }}</td>
						<td>
						{% if bot['status'] in ["dead", "paused"] %}
							<a href="{{ url_for("bot_continue", uid=bot['uid']) }}" role="button" class="btn btn-warning btn-sm confirmation">
								<span class="{{ icons['continue'] }}"></span> Continue
        					</a>
							{% else %}
							{# elif bot['status'] in ["ended", "canceled", "order canceled by user", "order refused"] #}
							<a href="{{ url_for("bot_dup", uid=bot['uid']) }}" role="button" class="btn btn-info btn-sm">
          						<span class="{{ icons['dup'] }}"></span> Duplicate
       						</a>
						{% endif %}
						</td>
						<td><a href="{{ url_for("redis_del", key="trader:hb:" + bot['uid']) }}" role="button" class="btn btn-danger btn-sm confirmation">
          					<span class="{{ icons['delete'] }}"></span> Delete
        					</a>
						</td>

					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}
</div>
{% endblock content %}
{% block scripts %}
{{super()}}
<script charset="utf-8" type="text/javascript">
function update_bots_table() {
	var botrow = $('#tpl_bot_row').clone();
	botrow.removeClass('d-none');
	botrow.appendTo(".bots_table");
}
//update_bots_table();
</script>
{% endblock %}
