{% extends "layout.html" %}
{% block content %}
<div class="container">
	<form method="POST" action="/bot_add">
	{{ form.hidden_tag() }}
	<h1>Create a Simple Bot</h1>
	<div class="row">
		<div class="bot-elements form-group col">
			<h2>Bot header</h2>
			<div class="row">
				<div class="col-sm-6"> {{ form.bot_name.label }} </div>
				<div class="col-sm-6"> {{ form.bot_name(class="form-control") }}</div>
			</div>
		  	<div class="row">
				<div class="col-sm-6"> {{ form.pair.label }} </div>
				<div class="col-sm-6"> {{ form.pair(class="form-control") }}</div>
			</div>
		  	<div class="row">
				<div class="col-sm-6"> {{ form.instructions_loop.label }} </div>
				<div class="col-sm-6"> {{ form.instructions_loop(class="form-control") }} </div>
			</div>
		  	<div class="row" data-toggle="tooltip" title="Choose cambista module">
				<div class="col-sm-6"> {{ form.cambista.label }} </div>
				<div class="col-sm-6"> {{ form.cambista(class="form-control") }} </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="bot-elements form-group col">
				<h2>Bot instructions</h2>
				<div class="row">
					<div class="col-sm-4"> {{ form.size.label }} </div>
					<div class="col-sm-4"> {{ form.size(class_="form_bot form-control", size=8) }} </div>
					<div class="col-sm-4 thick">Total</div>
				</div>
				<div class="row">
					<div class="col-sm-4"> {{ form.buy_at.label }} </div>
					<div class="col-sm-4"> {{ form.buy_at(class_="form_bot form-control", size=8) }} </div>
					<div class="col-sm-2 text-right" id='buy_price'></div>
				</div>
				<div class="row">
					<div class="col-sm-4"> {{ form.sell_at.label }} </div>
					<div class="col-sm-4"> {{ form.sell_at(class_="form_bot form-control", size=8) }} </div>
					<div class="col-sm-2 text-right" id='sell_price'></div>
				</div>
		  		<div class="row">
					<div class="col-sm-4"> {{ form.begin_sell.label }}</div>
					<div class="col-sm-4"> {{ form.begin_sell(class="form-check-input") }} </div>
					<div class="col-sm-2 text-right" id='diff_price'></div>
				</div>
		</div>
	</div>
	{{ form.submit(class="btn btn-primary") }}
	</form>
</div>
{% endblock content %}
{% block scripts %}
{{super()}}
<script charset="utf-8" type="text/javascript">
$('input.form_bot').change(function () {
	if ($.isNumeric($("#f_size").val())){
		if ($.isNumeric($("#f_buy_at").val())){
			$("#buy_price").text(($("#f_buy_at").val() * $("#f_size").val()).toFixed(4));
		}
		if ($.isNumeric($("#f_sell_at").val())){
			$("#sell_price").text(($("#f_sell_at").val() * $("#f_size").val()).toFixed(4));
		}
	} 
	if ($("#buy_price").text() && $("#sell_price").text()) {
		diff_price = ($("#sell_price").text() - $("#buy_price").text()).toFixed(4);
		if (diff_price <= 0 ) {
			$("#diff_price").css("color", "red");
		} else { 		
			$("#diff_price").css("color", "");
		}
		$("#diff_price").text(diff_price);
	} else {
		$("#diff_price").text("?");
	}
});
</script>	
{% endblock %}
