{% extends "layout.html" %}
{% block content %}
<div class="container">
	<form method="POST">
	{{ form.hidden_tag() }}
	<h1>Create a Conditionnal Bot</h1>
	<div class="row">
		<div class="bot-elements form-group col">
			<h2>Bot header</h2>
			<div class="row">
				<div class="col-sm-6"> {{ form.bot_name.label }} </div>
				<div class="col-sm-6"> {{ form.bot_name(class="form-control") }}</div>
			</div>
		  	<div class="row">
				<div class="col-sm-6"> {{ form.pair.label }} </div>
				<div class="col-sm-6"> {{ form.pair(class="form-control") }}</div>
			</div>
		  	<div class="row">
				<div class="col-sm-6"> {{ form.instructions_loop.label }} </div>
				<div class="col-sm-6"> {{ form.instructions_loop(class="form-control") }} </div>
			</div>
		  	<div class="row" data-toggle="tooltip" title="Choose cambista module">
				<div class="col-sm-6"> {{ form.cambista.label }} </div>
				<div class="col-sm-6"> {{ form.cambista(class="form-control") }} </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="bot-elements form-group col">
			<h2>Firsts conditions</h2>
			<div class="form-group row">
				<div class="col-3"></div>
				<div class="col-3">{{ form.cond1_sel1(class_="form_bot form-control form-control-sm") }}</div>
				<div class="col-2">{{ form.subcond1_sel1(class_="form_bot form-control form-control-sm") }}</div>
			</div>
			<div class="form-group row">
				<div class="col-1"></div>
				<div class="col-2">{{ form.cond1_op1(class_="form_bot form-control form-control-sm") }}</div>
			</div>
			{% for subfield in form.cond1_arg2type %}
			<div class="form-row">
				<div class="col-2"></div>
				<div class="col-1">
					{{ subfield() }} 
				</div>
					{% if loop.first %}
						<div class="col-3"> {{ form.cond1_sel2(class_="form_bot form-control form-control-sm") }} </div>
						<div class="col-2"> {{ form.subcond1_sel2(class_="form_bot form-control form-control-sm") }} </div>
					{% else %}
						<div class="col-2"> {{ form.cond1_input(class_="form_bot form-control form-control-sm") }} </div>
					{% endif %}
			</div>
			{% endfor %}
			<h2>AND</h2>
			<div class="form-row">
				<div class="col-3"></div>
				<div class="col-3"> {{ form.cond2_sel1(class_="form_bot form-control form-control-sm") }} </div>
				<div class="col-2"> {{ form.subcond2_sel1(class_="form_bot form-control form-control-sm") }} </div>
			</div>
			<div class="form-row">
				<div class="col-1"></div>
				<div class="col-2"> {{ form.cond2_op1(class_="form_bot form-control form-control-sm") }} </div>
			</div>
			{% for subfield in form.cond2_arg2type %}
			<div class="form-group row">
				<div class="col-2"></div>
				<div class="col-3">
					{{ subfield() }} 
					{{ subfield.label() }}
				</div>
					{% if loop.first %}
						<div class="col-3"> {{ form.cond2_sel2(class_="form_bot form-control form-control-sm") }} </div>
						<div class="col-2"> {{ form.subcond2_sel2(class_="form_bot form-control form-control-sm") }} </div>
					{% else %}
						<div class="col-2"> {{ form.cond2_input(class_="form_bot form-control form-control-sm") }} </div>
					{% endif %}
			</div>
			{% endfor %}
		</div>
	<!-- /div>
	<div class="row" -->
		<div class="bot-elements form-group col">
			<h2>First action</h2>
			<div class="form-row">
				<div class="col">
					{% for subfield in form.side1 %}
					   	{{ subfield.label }} {{ subfield }} 
					{% endfor %}
			   	</div>
			</div>
			<div class="form-row">
				<div class="col-sm-1"> {{ form.size1.label }}:</div>
				<div class="col-sm-3"> {{ form.size1(class_="form_bot form-control", size=4) }} </div>
				<div class="col-sm-4"> {{ form.price1.label }}:</div>
				<div class="col-sm-4"> {{ form.price1(class_="form_bot form-control", size=5) }} </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="bot-elements form-group col">
			<h2>Lasts conditions</h2>
			<div class="form-group row">
				<div class="col-3"></div>
				<div class="col-3">{{ form.cond3_sel1(class_="form_bot form-control form-control-sm") }}</div>
				<div class="col-2">{{ form.subcond3_sel1(class_="form_bot form-control form-control-sm") }}</div>
			</div>
			<div class="form-group row">
				<div class="col-1"></div>
				<div class="col-2">{{ form.cond3_op1(class_="form_bot form-control form-control-sm") }}</div>
			</div>
			{% for subfield in form.cond3_arg2type %}
			<div class="form-row">
				<div class="col-2"></div>
				<div class="col-1">
					{{ subfield() }} 
				</div>
					{% if loop.first %}
						<div class="col-3"> {{ form.cond3_sel2(class_="form_bot form-control form-control-sm") }} </div>
						<div class="col-2"> {{ form.subcond3_sel2(class_="form_bot form-control form-control-sm") }} </div>
					{% else %}
						<div class="col-2"> {{ form.cond3_input(class_="form_bot form-control form-control-sm") }} </div>
					{% endif %}
			</div>
			{% endfor %}
			<h2>AND</h2>
			<div class="form-row">
				<div class="col-3"></div>
				<div class="col-3"> {{ form.cond4_sel1(class_="form_bot form-control form-control-sm") }} </div>
				<div class="col-2"> {{ form.subcond4_sel1(class_="form_bot form-control form-control-sm") }} </div>
			</div>
			<div class="form-row">
				<div class="col-1"></div>
				<div class="col-2"> {{ form.cond4_op1(class_="form_bot form-control form-control-sm") }} </div>
			</div>
			{% for subfield in form.cond4_arg2type %}
			<div class="form-group row">
				<div class="col-2"></div>
				<div class="col-3">
					{{ subfield() }} 
					{{ subfield.label() }}
				</div>
					{% if loop.first %}
						<div class="col-3"> {{ form.cond4_sel2(class_="form_bot form-control form-control-sm") }} </div>
						<div class="col-2"> {{ form.subcond4_sel2(class_="form_bot form-control form-control-sm") }} </div>
					{% else %}
						<div class="col-2"> {{ form.cond4_input(class_="form_bot form-control form-control-sm") }} </div>
					{% endif %}
			</div>
			{% endfor %}
		</div>
	<!-- /div>
	<div class="row" -->
		<div class="bot-elements form-group col">
			<h2>Last action</h2>
			<div class="form-row">
				<div class="col">
					{% for subfield in form.side2 %}
					   	{{ subfield.label }} {{ subfield }} 
					{% endfor %}
			   	</div>
			</div>
			<div class="form-row">
				<div class="col-sm-1"> {{ form.size2.label }}:</div>
				<div class="col-sm-3"> {{ form.size2(class_="form_bot form-control", size=4) }} </div>
				<div class="col-sm-4"> {{ form.price2.label }}:</div>
				<div class="col-sm-4"> {{ form.price2(class_="form_bot form-control", size=5) }} </div>
			</div>
		</div>
	</div>
	{{ form.submit(class="btn btn-primary") }}
	</form>
</div>
{% endblock content %}
{% block scripts %}
{{super()}}
<script charset="utf-8" type="text/javascript">
indicators = {{ indicators | safe}} ;
$('select.form_bot').change(function (){
	if (! this.id.startsWith('cond'))
	{ return; }
	sel = $(this).find(":selected").val();
	pair = $('#pair').val();
	myselect = "#sub" + this.id
	$(myselect).empty();
	Object.keys(indicators[pair][sel]).forEach(function(item){
		if ( item != "title" && item != "pair") { 
			$(myselect).append($('<option>', {value: item, text: item}));
		}
	});
});
</script>	
{% endblock %}
