{% extends "layout.html" %}
{% block content %}
{% if bot %}
<div class="container">
	<h1> Bot detail </h1>
	<div class="row">
		<div class="bot-elements col">
			<h2> Name: {{ bot['name'] }} </h2>
			<div class="row">
				<div class="col-sm-3 thick">Started at:</div>
				<div class="col-sm-2">{{ bot['start_date'][:-7] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">Type:</div><div class="col-sm-9">{{ bot['type'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">Loop:</div><div class="col-sm-9">{{ bot['instructions_loop'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">Cambista:</div><div class="col-sm-9">{{ bot['cambista_title'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">PID:</div><div class="col-sm-9">{{ bot['pid'] }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 thick">UID:</div><div class="col-sm-9">{{ bot['uid'] }}</div>
			</div>
		</div>
	</div>
	{% with instructions = bot['instructions'] , title = "Instructions" %}
	{% include 'includes/bot_instructions.html' %}
	{% endwith %}
	{% with instructions = [bot['current_instruction']] , title = "Current instruction" %}
	{% include 'includes/bot_instructions.html' %}
	{% endwith %}
	{% with instructions = bot['instructions_history'], title = "History" %}
	{% include 'includes/bot_instructions.html' %}
	{% endwith %}
</div>
{% endif %}
{% endblock content %}
