{% extends "layout.html" %}
{% block content %}
	<h1>Create a Simple Bot</h1>
	<form method="POST" action="">
		<h2>Bot header</h2>
		{{ form.hidden_tag() }}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.bot_name.label }}
			</div><div class="col-md-2">
			{{ form.bot_name() }}
			</div>
		</div>
	  	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.pair.label }}
			</div><div class="col-md-2">
			{{ form.pair() }}
			</div>
		</div>
	  	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.instructions_loop.label }}
			</div><div class="col-md-2">
			{{ form.instructions_loop() }}
			</div>
		</div>
	  	<div class="row" data-toggle="tooltip" title="Don't send orders to exchange">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.sim_mode.label }}
			</div><div class="col-md-2">
			{{ form.sim_mode() }}
			</div>
		</div>
		<h2>Bot instructions</h2>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.size.label }}
			</div><div class="col-md-2">
			{{ form.size() }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.buy_val.label }}
			</div><div class="col-md-2">
			{{ form.buy_val() }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
			{{ form.sell_val.label }}
			</div><div class="col-md-2">
			{{ form.sell_val() }}
			</div>
			<div class="col-md-2">
			{{ form.begin_sell.label }}
			</div><div class="col-md-2">
			{{ form.begin_sell() }}
			</div>
		</div>
	  	<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-2">
	  		{{ form.submit() }}
			</div>
		</div>
  	</form>
{% endblock content %}
