{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>

<div class="container">
		<ul class="list-group">
		{% for pair, value in tickers.iteritems() %}
		<li class="list-group-item">
			<a href='{{ url_for("graphs", pair=pair) }}'>
					{{pair}}
			</a>
			{{ value }}
			<img src="{{ url_for('custom_static', filename='{}_minigraph_24H.png'.format(pair)) }}">
		</li>
		{% endfor %}
		</ul>
		{% for f in ls %}
		<p>{{ f }}</p>
		{% endfor %}
	</div>
</div>
{% endblock content %}
