{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block title %}Virc{% endblock %}
{% block navbar %}
<nav class="navbar-nav navbar-fixed-top bg-steel">
	<div class="container-fluid">
		<div class="navbar-header">
 			<a class="navbar-brand" href="/">Virc</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a class="nav-item nav-link" href="{{ url_for('bots') }}">bots</a></li>
			<li><a class="nav-item nav-link" href="{{ url_for('trade_status') }}">trade status</a></li>
			<li><a class="nav-item nav-link" href="{{ url_for('redis_ls') }}">list redis</a></li>
		</ul>
	</div>
</nav>
<div class="container fixed-top">
	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
    		{% for category, message in messages %}
      		<div class="alert alert-{{ category }} alert-dismissible" role="alert" data-dismiss='alert' data-toggle='tooltip' title='Click to close'>
      		{{ message }}
      		</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div id="flash"></div>
</div>
{% endblock %}
{% block content %}
<main role="main" class="container">
</main>
{% endblock %}
{% block scripts %}
{{super()}}

<script>
// sse alerts
if (typeof(source) !== "undefined") {
	console.log("close");
       source.close();
}  
var source = new EventSource("{{ url_for('sse.stream', channel='gui:flash') }}");
source.addEventListener('success', msghandler) ;
source.addEventListener('info', msghandler) ;
source.addEventListener('danger', msghandler) ;
function msghandler(event) {
	html = "<div class='alert alert-" + event.type +
		" alert-dismissible' role='alert' data-dismiss='alert' data-toggle='tooltip' title='Click to close'>" +
		event.data + "</div>";
	$(html).prependTo('#flash');
}
$(window).on('beforeunload', function(){
   		source.close();
});

// Confirm with 'confirmation' class
$('.confirmation').on('click', function () {
	return confirm('Are you sure?');
});
</script>
{% endblock %}
