{% extends "layout.html" %}
{% block content %}
<div class="container">
	{% if tickers %}
	<h1>cb:mkt:tick (Coinbase Market Tickers)</h1>
	<div class="row">
		<div class="col-md-4">
			<table class="table table-striped container">
			{% for tick in tickers %}
				<tr><th scope="row">{{ tick['name'] }}</th><td>{{ tick['pair'] }}</td><td>{{ tick['price'] }}</td></tr>
			{% endfor %}
			</table>
		</div>
		<div class="col-md-8"></div>
	</div>
	{% endif %}
	{% if changes %}
	<h1>cb:mkt:change:* (Coinbase Market Change)</h1>
	<div class="row">
		<div class="col-md-8">
		{% for change in changes %}
		<button class="clickable btn btn-click" data-toggle="collapse" id="{{ change['pair'] }}" data-target=".{{ change['pair'] }}">
			{{ change['name'] }}
		</button>
		<table class="table table-striped collapse {{ change['pair'] }}">
				{% for k, v in change['value'].iteritems() %}
					<tr>
						<th scope="row">{{ k }}</th>
						<td>
							{% for k2, v2 in v.iteritems() %}
								{{ k2 }}:{{ v2 }}<br/>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
				</table>
		{% endfor %}
		</div>
		<div class="col-md-4"></div>
	</div>
	{% endif %}
	{% if traderrb %}
		<h1>trader:rb (Running bots)</h1>
		<div class="row">
			<div class="col-md-8">
				<table class="table table-striped container">
					<tr><th>Name</th><th>Value</th></tr>
					{% for key, data in traderrb.iteritems() %}
					<tr>
						<th scope="row">
		<button class="clickable btn btn-click" data-toggle="collapse" id="{{ key }}" data-target=".{{ key }}">
			{{ key }}
		</button>
						</th>
						<td><pre class="collapse {{ key }}">{{ data }}</pre></td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div class="col-md-4"></div>
		</div>
	{% endif %}
	{% if orderbook_sim %}
		<h1>Order book Sim</h1>
		<div class="row">
			<div class="col-md-8">
				<table class="table table-striped">
					<tr><th>pair</th><th>side</th><th>size</th><th>price</th><th>order_id</th></tr>
					{% for data in orderbook_sim %}
						<tr>
							<th scope="row">{{ data['pair'] }}</th>
							<td>{{ data['side'] }}</td>
							<td>{{ data['size'] }}</td>
							<td>{{ data['price'] }}</td>
							<td>{{ data['order_id'] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="col-md-4"></div>
		</div>
	{% endif %}
	{% if redisdata %}
		<h1>Other data</h1>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr><th>Name</th><th>Type</th><th>Value</th><th>Action</th></tr>
					</thead>
					<tbody>
					{% for data in redisdata %}
						<tr>
							<th scope="row">{{ data['name'] }}</th>
							<td>{{ data['type'] }}</td>
							<td>{{ data['value'] }}</td>
							<td><a href="{{ url_for("redis_del", key=data['name']) }}" role="button" class="btn btn-danger btn-sm">
          						<span class="fas fa-window-close"></span> Remove 
        						</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	{% endif %}
</div>
{% endblock content %}
